* {
  margin: 0;
  box-sizing: border-box;
}
html {
  background-image: linear-gradient(135deg, white, lightgreen);
}
.board {
  margin-top: 150px;
  margin-left: 150px;
}
.square {
  border: 3px solid #999;
  font-size: 2rem;
  line-height: 1rem;
  float: left;
  height: 3rem;
  text-align: center;
  width: 3rem;
  margin-top: -1px;
  margin-right: -1px;
  background-color: #fff;
}
.board-row::after {
  clear: both;
  display: table;
  content: '';
}
.status {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5rem;
}

.reset button {
  background: #90f490;
  margin: 2px 0px;
  padding: 6px;
}
.header {
  margin-bottom: 35px;
  color: rgb(241, 77, 77);
  font-size: 3rem;
}
